{% extends "shop/base.html" %}
{% load static %}
{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}" style="max-width: 100%; height: auto;">
        {% else %}
            <img src="{% static 'img/Placeholder-1.png' %}" alt="No Image" class="product-image">
        {% endif %}
    </div>
    <div class="col-md-6">
        <h2>{{ product.name }}</h2>
        <p class="text-muted">{{ product.price }} грн</p>
        <p>{{ product.description }}</p>
        {% if product.available %}
            <span class="badge bg-success">В наличии</span>
            {% if user.is_authenticated %}
                <form action="{% url 'shop:add_to_basket' product.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary mt-3">Добавить в корзину</button>
                </form>
            {% else %}
                <p><a href="{% url 'account:login' %}">Войдите</a>, чтобы добавить товар в корзину.</p>
            {% endif %}
        {% else %}
            <span class="badge bg-danger">Нет в наличии</span>
        {% endif %}
    </div>
</div>
{% endblock %}
