{% extends "shop/base.html" %}
{% load static %}
{% block title %}Продукти{% endblock %}

{% block content %}
<h2>{% if search_query %}
        Результати пошуку для "{{ search_query }}"
    {% elif category %}
        {{ category.name }}
    {% else %}
        Усі продукти
    {% endif %}
</h2>

<div class="row">
    {% for product in products %}
    <div class="col-md-4">
        <div class="product-card">
            <a href="{% url 'shop:product_detail' product.category.slug product.slug %}">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                {% else %}
                    <img src="{% static 'img/Placeholder-1.png' %}" alt="No Image">
                {% endif %}
                <h5 class="mt-2">{{ product.name }}</h5>
            </a>
            <p class="text-muted">{{ product.price }} грн</p>
        </div>
    </div>
    {% empty %}
    <p>Немає доступних продуктів у цій категорії.</p>
    {% endfor %}
</div>
{% endblock %}