{% extends "shop/base.html" %}

{% block title %}
    Профіль
{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="text-center mb-4">Ласкаво просимо, {{ user.username }}!</h2>
        <div class="text-center mb-4">
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Дата реєстрації:</strong> {{ user.date_joined|date:"d.m.Y H:i" }}
            </p>
        </div>

        <h3 class="mb-3">Ваші замовлення</h3>
        {% if orders %}
            <div class="table-responsive"> <!-- Додано для адаптивності таблиці -->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Номер замовлення</th>
                            <th>Дата</th>
                            <th>Статус</th>
                            <th>Загальна вартість</th>
                            <th>Дії</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td class="align-middle"><a href="{% url 'orders:order_detail' order.id %}" class="text-decoration-none">{{ order.id }}</a></td>
                                <td class="align-middle">{{ order.created|date:"d.m.Y H:i" }}</td>
                                <td class="align-middle">{{ order.get_status_display }}</td>
                                <td class="align-middle">{{ order.get_total_price }} грн</td>
                                {% if order.status == 'pending' %}
                                    <td class="align-middle">
                                        <form method="post" action="{% url 'account:cancel_order' order.id %}" class="d-inline-block">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger btn-sm">Скасувати</button>
                                        </form>
                                    </td>
                                {% else %}
                                    <td class="align-middle"></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p class="text-center">У вас ще немає замовлень.</p>
        {% endif %}

        <div class="d-flex gap-3 mt-4 justify-content-start">
            <a href="{% url 'products:product_list' %}" class="btn btn-primary">До покупок</a>
            <form method="POST" action="{% url 'account:logout' %}" class="d-inline-block">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger">Вийти</button>
            </form>
        </div>
    </div>
{% endblock %}